<h1>Delete Contacts</h1>

<form class="Delete" action="/contacts" method="post">
<p>
   Who's contact do you want to delete?
</p>

  <input type="text" name="name" value="">
<p>
  Delete All Contacts?
</p>
  <input type="submit">
  <input type="hidden" name="_method" value="delete">
</form>
