

    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <div class="main_menu">


      <p>Main Menu</p>
      <ul>
        <li><a href="/new_contact">Create New Contact</a></li>
        <li><a href="/contacts">View All Contacts</a></li>
        <li><a href="/edit_contacts">Edit Your Contact</a></li>
        <li><a href="/delete_contacts">Delete Contacts</a></li>
  <!-- please complete me with links to other actions -->

      </ul>
    </div>

  </body>
</html>
