<!DOCTYPE html>
<html>
  <head>
    <title>Hisayo's CRM</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/contacts">View All Contacts</a>
      <a href="/new_contact">Create New Contact</a>
      <a href="/edit_contacts">Edit Your Contact</a>
      <a href="/delete_contacts">Delete Contacts</a>
    </header>
    <%= yield %>
    <footer>&copy; 2016 Hisayo Horie</footer>
  </body>
</html>
